* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  width: 95%;
  margin: 0 auto;
}

/*/////////////////////LE HEADER///////////////////////////////////*/
header {
  background: rgb(64, 255, 0);
  height: 80px;
}
header li {
  display: inline;
  margin: 20px;
}
#logo {
  width: 100px;
  padding-top: 10px;
}
nav ul li {
  float: right;
  margin-top: -30px;
}

/*/ ///////////section recherche//////////////////////////////////*/
.footer-two {
  background: slategray;
  display: flex;
  justify-content: flex-start;
  padding: 30px;
}
.nosengagements {
  padding-left: 300px;
  padding-right: 300px;
}
footer h3 {
  padding: 10px;
}
footer ul li {
  padding: 10px;
}
footer {
  margin-top: 15px;
}
