/*selecteurs fixes*/
*,
* ::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; 
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
html {
  font-size: 62, 5%;
}
body {
  font-family: "Raleway";
  font-weight: 500; 
  width: 100%; /taille du body!?*/
  max-width: 1700px;
  margin: 0 auto;
  background-color: var(--blanc);
  font-size: 1rem; /*faire une autre recherche sur l'iunité de mesur rem*/
}
.wrapper {
  width: 95%;
  margin: 0 auto;
  margin-bottom: 20px;
  /*background-color: brown;*/
}
:root {
  --bleu: #0065fc; /* couleur de la charte: le bleu*/
  --bleu-claire: #deebff; /* sa la version claire du bleu*/

  --gris: #f2f2f2; /*3eme couleur de la charte le gris pour le fond*/

  --blanc: #ffffff;
  --noir: #000000;
  --transparent: rgba(255, 255, 255, 0.4);
}
/*<header>*/
header img{
max-width: 7rem;
min-width: 3rem;
}
nav a {
  color: var(--noir);
}

nav {
/*  background-color: var(--gris);*/
  display: grid;

  grid-template-columns: 1fr auto auto auto;
  grid-template-rows: auto;
  justify-content: space-between;
  align-items: center;
}

.lien {
  padding: 1.5rem;
}
.lien-hosting {
  border-top: 3px solid var(--bleu);
}
.inscription {
  padding: 1.5rem 0 1.5rem 2rem;
  color: var(--bleu);
  font-weight: bold;
}
.lien:hover {
  border-top: 3px solid var(--bleu);
  color: #0065fc;
}


/*partie fltres et recherche*/
/*RECCHERCHE*/
.section-recherche {
  margin-top: 2rem;
}

.titre-recherche p {
  color: gray;
}

.titre-recherche {
  margin-bottom: 1.5rem;
}

.filtre-recherche {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 1.2em;
}

.fa-map-marker-alt {
  background-color: var(--gris);
  padding: 1rem;
  border-radius: 1rem 0rem 0rem 1rem;
  border-right: none;
  border-right: none;
}
input {
  background-color: var(--blanc);
  margin: 0;
  border-bottom: 0.15rem solid var(--gris);
  border-top: 0.15rem solid var(--gris);
  border-left: none;
  border-right: none;
  width: 20rem;
  height: 3rem;
  padding-left: 1rem;
  color: var(--noir);
}
.sersh-placeholder:hover {
  background-color: var(--bleu);
}

.formulaire-recherche {
  display: flex;
}

.button {
  padding: 0.9rem;
  border-radius: 0rem 1rem 1rem 0rem;
  background-color: var(--bleu);
  color: var(--blanc);
  border-bottom: 0.15rem solid var(--gris);
  border-top: 0.15rem solid var(--gris);
  border-left: none;
  border-right: none;
  height: 3rem;
  cursor: pointer;
}
/*partie filtres*/
.titre-recherche h1 {
  margin-bottom: 1rem;
}
.filtre-recherche {
  margin-top: 2rem;
  margin-bottom: 2.5rem;
  font-size: 1.2em;
}
.filtre {
  font-size: 1.5em;
  /* margin-bottom: -2.5rem;*/
  /*  margin-top: 2rem;*/
}
#filtres {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  margin-bottom: 1rem;
  justify-content: baseline;
  align-items: center;
}

.fa-info-circle {
  background-color: var(--bleu);
  border: 0.1rem solid var(--blanc); /*avoir */
  border-radius: 5rem;

  color: var(--blanc);
}
.resultats {
  margin-top: 0.5rem;
  font-size: 1rem;
  color: grey;
}

.fa-dog,
.fa-heart,
.fa-child,
.fa-money-bill-wave {
  color: #0065fc;
  background-color: var(--bleu-claire);
  padding: 1rem;
  border-radius: 4rem;
  border: none;
  /*  margin-bottom: -1rem;*/
  margin-right: 0.8rem;
}
.economique,
.familial,
.romantique,
.animaux {
  font-size: 1.5rem;
  margin-left: 2.5rem;
  border: 0.1rem solid var(--gris);
  border-left: none;
  border-radius: 4rem;
  padding-left: 0.2rem;
  padding-right: 1rem;
  cursor: pointer;
}
.economique:hover {
  background-color: var(--bleu-claire);
}

.familial:hover {
  background-color: var(--bleu-claire);
}

.romantique:hover {
  background-color: var(--bleu-claire);
}
.animaux:hover {
  background-color: var(--bleu-claire);
}
/*DEBUT HEBERGEMENT*/

.hosting {
  display: flex;
  justify-content: space-between;
} /*
.carteHM {
  height: 100%;
}*/
.etoiles,
.prix {
  padding-top: 15px;
}

.cartesHM {
  background-color: #f2f2f2;
  border-radius: 20px;
  display: grid;
  grid-template-columns: /*repeat (3, 1fr)*/auto auto auto;
  grid-template-rows: repeat (4, 1fr);
  /*  margin: 30px;*/
  padding: 30px;
  width: 66%;
  grid-gap: 35px;
}
.cartesHM img {
  width: 100%;
  height: 10rem;

  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}

.carteHM {
  background-color: white;
  border-radius: 1.5rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}

aside {
  /*margin: 30px;*/
  padding: 30px;
  border-radius: 15px;
  background-color: #f2f2f2;
  border-radius: 15px;
  width: 33%;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
  transition-duration: 0.1s;
}

aside img {
  width: 200px;
  height: 220px;
  object-fit: cover;
  border-radius: 15px 0 0 15px;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
  transition-duration: 0.1s;
}


.aside2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 20px;
}

.etoiles,
.etoiles2 {
  color: #0065fc;
}

.titre1 {
  grid-row: 1/2;
  grid-column: 1/4;
  padding: 10px;
  margin-left: 15px;
  font-weight: bold;
}
.carte1 {
  grid-row: 2/3;
  grid-column: 1/2;
}
.carte2 {
  grid-row: 2/3;
  grid-column: 2/3;
}
.carte3 {
  grid-row: 2/3;
  grid-column: 3/4;
}
.carte4 {
  grid-row: 3/4;
  grid-column: 1/2;
}
.carte5 {
  grid-row: 3/4;
  grid-column: 2/3;
}
.carte6 {
  grid-row: 3/4;
  grid-column: 3/4;
}
.Plus {
  grid-row: 4/5;
  grid-column: 1/4;
  padding: 10px;
  margin-left: 15px;
  font-weight: bold;
}

.carteAside {
  display: flex;
  background-color: #fff;
  padding: 10px;
  margin-right: 40px;
  margin-bottom: 40px;
  border-radius: 15px 0px 0px 15px;
  width: 100%;
}
.headerAside {
  display: flex;
  margin-left: 20px;
  padding-bottom: 15px;
  justify-content: space-between;
}
/*partie activity*/

/*ACTIVITY*/
.activity {
  /*background-color: #9e8282;*/
  display: grid;
  grid-template-rows: 260px 260px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 40px;
  border-radius: 25px;
  border: 0.5px solid var(--gris);
}
.titre-activity h1 {
  padding-bottom: 20px;
}
.site-activity {
  padding: 10px;
}
.carte-activity img {
  border-radius: 25px 25px 0 0;
  width: 100%;
}

.activity-1 {
  grid-row: 1/4;
  grid-column: 1/2;
  transition-duration: 0.1s;
}
.activity-2 {
  grid-row: 1/2;
  grid-column: 2/3;
}
.activity-3 {
  grid-row: 2/3;
  grid-column: 2/3;
}
.activity-4 {
  grid-row: 1/3;
  grid-column: 3/4;
}
.activity-5 {
  grid-row: 1/2;
  grid-column: 4/5;
}
.activity-6 {
  grid-row: 2/3;
  grid-column: 4/5;
}
.activity-1 img,
.activity-4 img {
  height: 500px;
  object-fit: cover;
}
.activity-2 img,
.activity-3 img,
.activity-5 img,
.activity-6 img {
  height: 200px;
  object-fit: cover;
}
/* footer*/
footer{
  margin:0;
  background-color: var(--gris);
}
.footer{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
 
}
.div-footer{
  padding:1rem 10rem 1rem 0;
  margin:1rem 10rem 1rem 0;
}
footer li, footer h3{
  padding: 10px 0 10px 0;
}

/*@media */
@media screen and (max-width: 1440px){
  aside img {
    width: 8rem;
    height: 10rem;
    object-fit: cover;
  }
  aside{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .aside2 {
   font-size: 0.8rem;
  }
}
@media screen and (max-width: 1170px){
  .cartesHM img {
    width: 100%;
    height: 8rem;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
  }
  .cartesHM {
    font-size: 0.9rem;
  }
  aside img {
    width: 5rem;
    height: 7rem;
    object-fit: cover;
  }
  aside{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .aside2 {
   font-size: 0.6rem;
  }
}
@media screen and (max-width: 868px){
  .cartesHM img {
    width: 9rem;
    height: 7rem;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
  }
  .cartesHM {
    font-size: 0.7rem;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .titre1, .plus {
    width: 100%;
  }
  aside img {
    width: 4rem;
    height: 6rem;
    object-fit: cover;
  }
  aside{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
  }
  .aside2 {
   font-size: 0.6rem;
  }
  .activity-1 img,
  .activity-4 img {
    height: 410px;
    object-fit: cover;
  }
  .activity-2 img,
  .activity-3 img,
  .activity-5 img,
  .activity-6 img {
    height: 120px;
    object-fit: cover;
  }
}
@media screen and (max-width: 655px){
.hosting{
  flex-direction: column;
  justify-content: space-evenly;
}
.cartesHM img {
  width: 11rem;
  height: 7rem;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}
.cartesHM {
width: 100%;
}
aside{
  order:-2;
  margin-bottom: 1rem;
  width: 100%;
}
aside img {
  width: 9rem;
  height: 11rem;
  object-fit: cover;
}
.aside2 {
  font-size: 1rem;
  margin-left: 1rem;
 }

}



@media screen and (max-width: 516px) {
  .lien-hosting {
    grid-row: 2/3;
    grid-column: 1/2;
    color: var(--bleu);
    border-bottom: var(--bleu);
    border-bottom: 3px solid var(--bleu);
  }
  .lien-activity {
    grid-row: 2/3;
    grid-column: 2/3;
  }
  .inscription {
    grid-row: 1/2;
    grid-column: 2/3;
  }
  .lien:hover {
    border-bottom: 3px solid var(--bleu);
    border-top: none;
    color: #0065fc;
  }
  .lien {
    justify-content: center;
    border-top: none;
  }
  nav {
    align-items: center;
  }
  #filtres{
   /* background-color: chartreuse;*/
    flex-direction: column;
    align-items: flex-start;
  }
  .filtre{
    margin: 10px;
  }
.economique,
.familial,
.romantique,
.animaux {
  margin-left:0;
}
.cartesHM img {
  width: 100%;
  height: 7rem;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}
.cartesHM {
  font-size: 1rem;
}
.activity {
  /*background-color: #9e8282;*/
display: flex;
flex-direction: column;
font-size: 1.2rem;
}
.activity img {
  width: 100%;
  height: 11rem;
  object-fit: cover;
}

}