*{
margin: 0;
padding: 0;
box-sizing: inherit;
box-sizing: border-box;
text-decoration: none;
list-style: none;
}

body {
font-family:"Raleway", serif;
width: 100%; /* taille du body!? */
margin: 0 auto;
background-color: var(--blanc);
color: var(--noir);
}
:root {
--bleu: #0065fc; /* couleur de la charte: le bleu*/
--bleu-claire: #deebff; /*la version claire du bleu*/
--gris: #f2f2f2; /*3eme couleur de la charte le gris pour le fond*/
--blanc: #ffffff;
--noir: #000000;
--transparent: rgba(255, 255, 255, 0.4);
}
a {
color: var(--noir);
font-weight: 500;
}
header,
main {
width: 95%;
margin: 0 auto;
}
h1 {
font-size: 1.5rem;
font-weight: 700;
}
h2 {
font-size: 1.5rem;
font-weight: 700;
}
h3 {
font-size:1.2rem;
}
h4{
  font-weight:800;
}
.hebergements .prix {
font-size: 1rem;
font-weight: 100;
}
.fa-star {
font-size: 0.9rem;
}
header img {
max-width: 12rem;
min-width: 4rem;
}
.logo {
flex-grow: 2;
padding-right: 2rem;
}
nav ul {
display: flex;
flex-grow: 1;
}
header {
display: flex;
justify-content: space-between;
align-items: center;
margin: 0 auto;
padding: 1.5rem 0  1.5rem 0;
}
.lien-hosting {
padding: 2.2rem;
}
.lien-activity {
padding: 2.2rem;
color: var(--noir);
}
.inscription {
cursor: pointer;
color: var(--bleu);
font-weight: bold;
padding-left: 2rem;
}
.lien:hover {
border-top: 5px solid var(--bleu);
color: #0065fc;
}
/* media screen header */
@media screen and (max-width: 520px) {
  header {
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 3rem;
  }
  .logo {
  order: -1;
  width: 50%;
  padding-right: 3rem;
  }  
  .inscription {
  padding: 2rem 0 2rem 2rem;
  order: -1;
  width: 40%;
  padding-left: 3rem;
  }
  .lien {
  padding-bottom: 1rem;
  border-bottom: 3px solid var(--gris);
  width:50%;
  border-top: 0;
  }
  .lien-hosting:hover,.lien-activity:hover {
  border-bottom: 3px solid var(--bleu);
  color: var(--bleu);
  border-top: none;
  }
}
/*partie recherche*/
main .recherche {
margin: 1rem 0rem 2rem 0rem;
}
.recherche-header {
margin-bottom: 1rem;
}
.recherche-header p {
color: gray;
padding: 0.5rem 0 0.5rem 0;
}
form {
display: flex;
margin-bottom: 20px;
align-items: center;
}
.fa-map-marker-alt {
background-color: var(--gris);
padding: 1rem;
border-radius: 1rem 0rem 0rem 1rem;
border-right: none;
}
.recherche-placeholder:hover {
font-size: 1rem;
color: var(--noir);
}
input {
background-color: var(--blanc);
border-bottom: 0.04rem solid var(--gris);
border-top: 0.04rem solid var(--gris);
border-left: none;
border-right: none;
width: 12rem;
padding-left: 0.7rem;
height: 2.9rem;
color: var(--noir);
}
button {
color: var(--blanc);
background-color: var(--bleu);
width: 8rem;
border-radius: 0rem 1rem 1rem 0rem;
border: 1px solid var(--gris);
border-left: none;
padding: 1rem;
font-weight: 600;
font-size: 1rem;
cursor: pointer;
}
.button .fa-search{
  display: none;
 }
/*FILTRES*/
#filtres {
display: flex;
flex-wrap: wrap;
align-items: center;

}
.filtres {
margin-right: 10px;
font-size: 1.3rem;
}
.economique,
.familial,
.romantique,
.animaux {
border: 1px solid var(--gris);
border-radius: 2.5rem;
margin: 10px;
background-color: var(--blanc);
text-align: center;
padding-right: 0.8rem;
cursor: pointer;
}
.filtre:hover {
background-color: var(--bleu-claire);
}
#filtres .fas {
padding: 0.8rem;
margin-right: 0.2rem;
border: 1px solid var(--gris);
border-radius: 2.5rem;
background-color: var(--bleu-claire);
color: var(--bleu);
}
.fa-info-circle {
color: var(--blanc);
background: var(--bleu);

border-radius: 55px;
}
.recherche-footer {
background: none;
margin-top: 1rem;
color: gray;
}
/*media screen partie recherche-----------*********************/
@media screen and (max-width: 520px) {
.recherche p{
padding: 1rem 0 1rem 0;
}
.button {
color: var(--blanc);
background-color: var(--bleu);
font-size: 0;
border-radius: 1rem;
width:3.5rem;
cursor:pointer;
}
.button .fa-search{
font-size: 1rem;
background-color: var(--bleu);
display: block;
}
input {
margin-right: -2rem;
width: 15rem;
color: var(--noir);
}
.filtres {
flex-basis: 100%;
font-size: 1.2rem;
}}
/*-----------------------Héberbergements marseille--*******************-------------------*/
.hebergements{
width:100%;
display:grid;
grid-template-columns: 6fr 3fr;
grid-template-rows: minmax(30rem, 45rem);
grid-column-gap: 2rem;
margin: 2rem 0 2rem 0;
}
.hebergementsMarseille {
background-color: var(--gris);
padding: 2rem;
display: grid;
grid-template-rows: repeat(4, auto);
grid-template-columns: repeat(3, 1fr);
grid-gap: 2rem;
border-radius:1.5rem;
}
.cartesHebergementsMarseille{
padding:0.3rem;
background-color:var(--blanc);
display: flex;
flex-direction: column;
justify-content: space-between;
width: 100%;
border-radius: 1rem;
box-shadow: 0 0 1rem #0000005e;
}
.cartesHebergementsMarseille:hover{
transform:scale(1.009);
}
.cartesHebergementsPopulaires:hover{
transform:scale(1.009);
}
.hebergementsMarseilleTitre{
grid-column: 1/-1;
}
article img {
border-radius:1rem 1rem 0 0;
width:100%;
height:8rem;
object-fit:cover;
}
.hebergementsMarseillesInformations{
padding:1rem 0.5rem 0.5rem 0.5rem;
}
.prix {
font-size:0.9rem;
color: gray;
font-family: "Raleway", serif;
font-weight:inherit;
padding: 0.5rem 0 0.5rem 0;;
}
.prixEuro{
font-weight: bold;
color:var(--noir);
}
.igray {
color: gray;
}
.etoiles{
color: var(--bleu);
}
.test{
flex-grow: 1;
}
/*aside*/
aside {
background-color: var(--gris);
width: 100%;
padding:2rem;
grid-column: 2/3;
grid-row: 1/2;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items:stretch;
align-content: center;
border-radius:1.5rem;
}
aside img{
border-radius:1rem 0 0 1rem;
width:10rem;
height:10rem;
align-self: stretch;
}
aside article {
display: flex;
}
.aside-header{
display: flex;
justify-content: space-between;
}
.fa-chart-line{
  font-size:1.7rem;
}
.hebergementsPopulairesInformations{
display:flex;
flex-direction:column;
justify-content:space-between;
margin: 1rem;
}
.cartesHebergementsPopulaires{
background-color: var(--blanc);
box-shadow: 0 0 1rem #0000005e;
border-radius:1rem;
padding:0.3rem 0 0 0.3rem;
width: 100%;
display: flex;
}

/* media screen hébergement*/

@media screen and (max-width:1199px){
.hebergements {
display: flex;
flex-direction: column;
justify-content: space-evenly;
}
aside{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: repeat(2, 1fr );
grid-gap: 1rem;
padding: 2rem;
margin-bottom: 2rem;
order:-1;
}
.aside-header{
grid-column: 1/-1;
padding: 0 0 1rem 0;
}
aside img {
width: 6rem;
height: 9rem;
object-fit: cover;
}
aside h3 {
font-size: 0.9rem;
}
aside .prix {
font-size: 0.8rem;
}
.fa-star {
font-size: 0.7rem;
width: 0.7rem;
}}
@media screen and (max-width:999px){
aside{
display: flex;
}
aside img {
width: 15rem;
height: 100%;
object-fit: cover;
}
.carte_9 img{
width: 15rem;
height: 12rem;
object-fit: cover;
}
aside h4 {
font-size: 1.3rem;
font-weight: 800;
}
aside .prix {
padding-top: 1rem;
}
aside .fa-star {
font-size: 1rem;
width: 1rem;
}
.hebergementsMarseille{
grid-template-columns: repeat(2,1fr);
width:100%;
}  
.carte_1{
grid-column: 1/2;
grid-row: 2/3;
}
.carte_2{
grid-column: 2/3;
grid-row: 2/3;
}
.carte_3{
grid-column: 1/2;
grid-row: 3/4;
}
.carte_4{
grid-column: 2/3;
grid-row: 3/4;
}
.carte_5{
grid-column: 1/2;
grid-row: 4/5;
}
.carte_6{
grid-column: 2/3;
grid-row: 4/5;
}
.afficherPlus{
grid-column: 1/-1;
grid-row: 5/6;
}}
@media screen and (max-width:520px){
.hebergementsMarseille{
display: flex;
flex-wrap: wrap;
padding: 0.5rem;
background-color: var(--blanc);
}
.cartesHebergementsMarseille{
  box-shadow:0 0 1rem #0000005e;
}
.imgP, .carte_9 img{
width: 7rem;
height: 11rem;
}
aside {
padding:2rem;
border-radius: 0;
}

aside h4 {
font-size: 1rem;
font-weight: 800;
}
aside .prix {
padding-top: 0.7rem;
font-size: 0.9rem;
}
aside .fa-star {
font-size: 0.8rem;
width: 0.8rem;
}
.hebergementsMarseilleTitre h2{
  padding: 1rem 0 0 1rem;
  font-size: 1.4rem;
}
.aside-header{
  padding: 0 1rem 1rem 0.5rem;
}}
/*activités*/
.carteActivity {
border-radius: 1rem;
box-shadow: 0 0 1rem #0000005e;
display: flex;
flex-direction: column;
justify-content: space-between;
align-content:center;
}
.cartesActivity{
display: grid;
grid-template-rows: repeat(12, 1fr);
grid-template-columns: repeat( auto-fit, minmax(11rem, 1fr)); 
grid-auto-rows:1fr;
width:100%;
padding: 0;
margin:1.5rem 0 3rem 0;
grid-column-gap: 2rem;
grid-row-gap: 2rem;
height:35rem;
}
.activity img {
border-top-left-radius: 1rem;
border-top-right-radius: 1rem;
}
.activity{
  height: 38rem;
  }
.carteActivity:hover {
transform: scale(1.009);
}
.carteActivity_1 {
grid-column: 1/2;
grid-row: 1/12;
border-radius: 1rem;
}
.carteActivity_4 {
grid-column: 3/4;
grid-row: 1/12;

}
.carteActivity_1 img, .carteActivity_4 img {
width: 100%;
height:26.5em;
object-fit: cover;
}
.carteActivity_2 {
grid-column: 2/3;
grid-row: 1/7;
}
.carteActivity_2 img {
width: 100%;
height:12rem;
object-fit: cover;
}
.carteActivity_2 .site-activity h3 {
padding: 1.5rem 0 2rem 1rem;
}
.carteActivity_3 {
grid-column: 2/3;
grid-row: 7/12;
margin-top: 1rem;
}
.carteActivity_3 img {
width: 100%;
height:7rem;
object-fit: cover;
}
.carteActivity_5 {
grid-column: 4/5;
grid-row: 1/7;
margin-bottom: 2rem;
}
.carteActivity_6 {
grid-column: 4/5;
grid-row: 6/12;
margin-top: 2rem; 
}
.carteActivity_5 img{
width: 100%;
height:9.5rem;
object-fit: cover;
}
.carteActivity_6 img {
width: 100%;
height:9.3rem;
object-fit: cover;
margin-bottom:1rem ;
}
.site-activity h3{
padding: 0 1rem 2rem 1rem;
font-size: 1.2rem;
}

/*media screen activités*/

@media screen and (max-width: 1000px){
.activity img {
width: 100%;
height: 9rem;
object-fit: cover;
}
.activity{
  height: 34rem;
  }
.carteActivity {
border-radius: 1rem;
height:13rem;
}
.carteActivity_1 {
grid-column: 1/2;
grid-row: 1/2;
}
.carteActivity_2 {
grid-column: 2/3;
grid-row: 1/2;
}
.carteActivity_3 {
grid-column: 3/4;
grid-row: 1/2;
margin-top: 0;
}
.carteActivity_4 {
grid-column: 1/2;
grid-row: auto;
}
.carteActivity_5 {
grid-column: 2/2;
grid-row: 2/3;
margin-bottom: 0;
} 
.carteActivity_6 {
grid-column: 3/4;
grid-row: 2/3;
margin-top: 0;
}
}
@media screen and (max-width: 800px){
.carteActivity_3 {
grid-column: 1/2;
grid-row: 2/3;
margin-top: 0;
}
.carteActivity_4 {
grid-column: 2/3;
grid-row: 2/3;
}
.carteActivity_5 {
grid-column: 1/2;
grid-row: 3/4;
}
.carteActivity_6 {
grid-column: 2/3;
grid-row: 3/4;
}
.site-activity h3{
padding: 0rem 1rem 1rem 2rem;
font-size: 1rem;
}
.activity{
  height: 49rem;
  }
}
@media screen and (max-width: 400px){
.cartesActivity{
display: flex;
flex-direction: column;
height: 78rem;
}
.activity{
  height: 89rem;
  }
.headr_activity{
  padding-top: 1rem;
}}
/*footer*/
footer {
background-color: var(--gris);
/*background-color: #0065fc;*/
width: 100%;
}
.footer {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
padding: 2rem 0 2rem 2.5rem;
}
.footer_1, .footer_2, .footer_3 {
flex-basis: 33% ;
margin-bottom:2rem;
}
.footer h3 {
color: var(--noir);
font-size: 1.5rem;
font-weight: bold;
margin-bottom: 1rem;
}
footer li {
margin-bottom: 0.7rem;
color: var(--gris);
font-size: 1.1rem;
}
/*media screen footer*/
@media screen and (max-width:800px){
.footer{
flex-direction: column;
padding: 2rem 0 2rem 1.5rem;
}
.footer_1, .footer_2, .footer_3{
  width: 100%;
}
}
